<div class="message system-message">
    <div class="message-avatar">
        <img src="/static/images/bot-avatar.jpeg" alt="AirlineSQL" width="36" height="36">
    </div>
    <div class="message-content">
        <div class="processing-step step-sql">
            <div class="step-header">
                <i class="material-icons">code</i>
                <h3>Generated SQL Query</h3>
            </div>
            <div class="code-block sql">
                <pre><code>{{ sql_query }}</code></pre>
            </div>
        </div>
    </div>
</div>